{% extends 'base.html.twig' %}

{% block title %}ScanPlan index{% endblock %}

{% block body %}
    <h1>{{ "ScanPlans"|trans }}</h1>

    <p><a href="{{ path('scan_plan_admin_new') }}" class="btn btn-success">{{ "Create new"|trans }}</a>
    </p>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Scan</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scan_plan in scan_plans %}
            <tr>
                <td>{{ scan_plan.id }}</td>
                <td>{{ scan_plan.name }}</td>
                <td>{{ scan_plan.scan ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('scan_plan_admin_show', {'id': scan_plan.id}) }}" class="btn btn-sm btn-primary">show</a>
                    <a href="{{ path('scan_plan_admin_edit', {'id': scan_plan.id}) }}" class="btn btn-sm btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
