{% extends 'base.html.twig' %}

{% block title %}{{ "Edit User"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "Edit User"|trans }} <strong>{{ user.username }}</strong></h1>

    {{ include('user_admin/_form.html.twig', {'button_label': 'Save'|trans}) }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ path('user_admin_index') }}" class="btn btn-secondary btn-block">{{ "Back to list"|trans }}</a>
            </div>
            <div class="col-md-2">
                <a href="{{ path('dh_auditor_show_entity_history', {'id': user.id, 'entity': 'App-Entity-User'}) }}"
                   class="btn btn-outline-info btn-block">{{ "Audit"|trans }}</a>
            </div>
            <div class="col-md-2">
                {{ include('user_admin/_delete_form.html.twig') }}
            </div>
            <div class="col-md-2">
                <a href="{{ path('user_admin_change_password', {'id': user.id}) }}" class="btn btn-outline-primary btn-block">{{ "Password change"|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
