{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} - {{ "User"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "User"|trans }} <strong>{{ user.username }}</strong></h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ "Id"|trans }}</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ "Username"|trans }}</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>{{ "FirstName"|trans }}</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>{{ "Password"|trans }}LastName</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <th>{{ "Email"|trans }}</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ "Enabled"|trans }}</th>
                        <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">

                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ "Roles"|trans }}</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>{{ "Created"|trans }}</th>
                        <td>{{ user.created ? user.created|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{{ "Updated"|trans }}</th>
                        <td>{{ user.updated ? user.updated|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{{ "LastPassResetRequest"|trans }}</th>
                        <td>{{ user.lastPassResetRequest ? user.lastPassResetRequest|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{{ "IpAddressDuringRegistration"|trans }}</th>
                        <td>{{ user.ipAddressDuringRegistration }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h2>{{ "Owned categories"|trans }}</h2>
                {% if user.categories|length>0 %}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>{{ 'Name'|trans }}
                            </th>
                            <th>
                                {{ 'Location'|trans }}
                            </th>

                            <th>{{ 'Scan'|trans }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in user.categories %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td><a href="{{ path('category_admin_show', {'id': category.id}) }}"
                                       class="">{{ category.name }}</a></td>
                                <td>{{ category.location }}</td>
                                <td>{{ category.scan ? 'Yes' : 'No' }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{{ "none"|trans }}</p>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ path('user_admin_index') }}"
                   class="btn btn-secondary btn-block">{{ "Back to list"|trans }}</a>
            </div>
            <div class="col-md-2">
                <a href="{{ path('dh_auditor_show_entity_history', {'id': user.id, 'entity': 'App-Entity-User'}) }}"
                   class="btn btn-outline-info btn-block">{{ "Audit"|trans }}</a>
            </div>
            <div class="col-md-2">
                {{ include('user_admin/_delete_form.html.twig') }}
            </div>
            <div class="col-md-2">
                <a href="{{ path('user_admin_edit', {'id': user.id}) }}"
                   class="btn btn-primary btn-block">{{ "Edit"|trans }}</a>
            </div>
            <div class="col-md-2">
                <a href="{{ path('user_admin_change_password', {'id': user.id}) }}"
                   class="btn btn-outline-primary btn-block">{{ "Password change"|trans }}</a>
            </div>
            <div class="col-md-2">
                {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                    <a href="{{ path('home', {'_switch_user': user.username}) }}"
                       class="btn btn-dark btn-block">{{ "Impersonate"|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
