
    {{ form_start(form,
        {
            'action': path('parcel_new'),
            'method': 'POST',
            'attr': {'novalidate': 'novalidate'}
        }) }}
    <fieldset>
        <div class="row parcel_row">
            <div class="col-md-2">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.category) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.status) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.file) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.barcodeNumber) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.weight) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.size) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.price) }}
            </div>
            <div class="col-md-1">
                <label style="min-width: 100px;"> &nbsp; </label>
                <div class="btnSubmitNormal">
                    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                </div>
                <div class="btnSubmitInProgress" style="display: none;">
                    <button class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    </button>
                </div>
                <div class="btnSubmitSuccess" style="display: none;">
                    <button class="btn btn-success" type="button" disabled>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="col-md-1 statusDiv">

            </div>
        </div>
    </fieldset>
    {{ form_end(form) }}

