{% extends 'base.html.twig' %}

{% block title %}Parcel index{% endblock %}

{% block body %}
    <h1>{{ "Parcels"|trans }}</h1>

    {{ form_start(form, {'action': path('parcel_admin_index'), 'method': 'GET'}) }}

    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.category) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.status) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.barcodeNumber) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.weight) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.size) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.price) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.hasScanOrdered) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.hasOrderedScanInserted) }}
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <label style="min-width: 100px;"> &nbsp; </label>
            <button class="btn btn-primary btn-block">{{ "Filter"|trans }}</button>

        </div>
        <div class="col-md-1">
            <label style="min-width: 100px;"> &nbsp; </label>
            <a href="{{ path('parcel_admin_index') }}"
               class="btn btn-dark">{{ "Reset filter"|trans }}</a>

        </div>
    </div>

    {{ form_end(form) }}

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th{% if pagination.isSorted('parcel.Title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Title'|trans, 'Parcel.title') }}
            </th>
            <th{% if pagination.isSorted('parcel.Category') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Category'|trans, 'Category.name') }}
            </th>
            <th{% if pagination.isSorted('parcel.Status') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Status'|trans, 'ParcelStatus.name') }}
            </th>
            <th{% if pagination.isSorted('parcel.originalName') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Scan file'|trans, 'Parcel.originalName') }}
            </th>
            <th{% if pagination.isSorted('parcel.BarcodeNumber') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Barcode number'|trans, 'Parcel.barcodeNumber') }}
            </th>
            <th{% if pagination.isSorted('parcel.Created') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Created'|trans, 'Parcel.created') }}
            </th>
            <th{% if pagination.isSorted('parcel.ScanOrdered') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Scan ordered on'|trans, 'Parcel.scanOrdered') }}
            </th>
            <th{% if pagination.isSorted('parcel.ScanInserted') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Ordered scan inserted on'|trans, 'Parcel.scanInserted') }}
            </th>
            <th{% if pagination.isSorted('parcel.ScanDue') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Scan due'|trans, 'Parcel.scanDue') }}
            </th>
            <th>{{ "Actions"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for parcel in parcels %}
            <tr>
                <td>{{ parcel.title }}</td>
                <td>{% if parcel.category %}
                    <a href="{{ path('category_admin_show', {'id': parcel.category.id}) }}"
                       class="">{{ parcel.category }}</a>
                    {% endif %}
                </td>
                <td>{{ parcel.status }}</td>
                <td>
                    {% if parcel.originalName %}
                        <a href="{{ path('parcel_file_download', {'id': parcel.id}) }}"
                           class="">{{ parcel.originalName }}</a>
                    {% endif %}
                </td>
                <td>{{ parcel.barcodeNumber }}</td>
                <td>{{ parcel.created ? parcel.created|date('Y-m-d H:i') : '' }}</td>
                <td>{{ parcel.scanOrdered ? parcel.scanOrdered|date('Y-m-d H:i') : '' }}</td>
                <td>{{ parcel.scanInserted ? parcel.scanInserted|date('Y-m-d H:i') : '' }}</td>
                <td>{{ parcel.scanDue  }}</td>
                <td>
                    <a href="{{ path('parcel_admin_show', {'id': parcel.id}) }}"
                       class="btn btn-sm btn-success">{{ "btnShow"|trans }}</a>
                    <a href="{{ path('parcel_admin_edit', {'id': parcel.id}) }}"
                       class="btn btn-sm btn-primary">{{ "btnEdit"|trans }}</a>

                </td>
            </tr>
        {% else %}

        {% endfor %}
        </tbody>
    </table>

    {# pagination #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
