{% extends 'base.html.twig' %}

{% block title %}{{ "Adding information about multiple parcels"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "Adding information about multiple parcels"|trans }}</h1>

    <div id="forforms" data-controller="forforms" data-form-number="0"></div>

    <div id="template_form">
        {% set form=form0 %}
        {{ include('parcel/_form.html.twig') }}
    </div>

    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <button class="oneMoreForm btn btn-primary btn-block">{{ "One more form"|trans }}</button>
            </div>
            <div class="col-md-3">
                <button class="fiveMoreForms btn btn-primary btn-block">{{ "5 more forms"|trans }}</button>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button class="submitAllForms btn btn-success btn-block">{{ "Submit all"|trans }}</button>
            </div>
        </div>
    </div>

{% endblock %}
