{% extends 'base.html.twig' %}

{% block title %}{{ "Parcels handover"|trans }} - {{ application_name }}{% endblock %}
{% block navbar %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">

        </div>
        <div class="col-md-3 text-right">
            {{ todaysDate|date('Y-m-d') }}
        </div>
    </div>
    <h1>{{ "handoverTitle"|trans }}</h1>

    {% if parcels|length>0 %}

        {% set category = parcels[0].category %}



        <table class="table table-bordered" style="max-width: 50%;">
            <tr>
                <th>Odbiorca</th>
                <td>{{ category.name }}</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th>
                    {{ 'Sender'|trans }}
                </th>
                <th>
                    {{ 'Category'|trans }}
                </th>

                <th>
                    {{ 'Barcode number'|trans }}
                </th>
                <th>
                    {{ 'Weight parcel'|trans }}
                </th>
                <th>
                    {{ 'Size parcel'|trans }}
                </th>
                <th>
                    {{ 'Price'|trans }}
                </th>
                <th>
                    {{ 'Date of receipt of the parcel'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for parcel in parcels %}
                <tr>
                    <td>{{ parcel.title }}</td>
                    <td>{% if parcel.category %}
                            <a href="{{ path('category_admin_show', {'id': parcel.category.id}) }}"
                               class="">{{ parcel.category }}</a>
                        {% endif %}
                    </td>
                    <td>{{ parcel.barcodeNumber }}</td>
                    <td>{{ parcel.created ? parcel.created|date('Y-m-d') : '' }}</td>
                </tr>
            {% else %}

            {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <p>{{ "handoverDeclaration1"|trans }}<br><strong>{{ category.name }}</strong>.</p>
                <p>{{ "handoverDeclaration2"|trans }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <br>
                <br>
                ....................................................................................
            </div>
        </div>

    {% endif %}

{% endblock %}
