{# templates/emails/registration.html.twig #}
<h1>
{{ "PasswordResetRequestTitle"|trans }}</h1>

{{ user.username }},<br>
{{ "The process of changing the email address assigned to the account has been started."|trans }}<br>
{{ "newEmail"|trans }}: <strong>{{ newEmail }}</strong>


<br>





