{# templates/emails/registration.html.twig #}
<h1>
{{ "PasswordResetRequestTitle"|trans }}</h1>


{{ user.username }},<br>

<a href="{{ uri }}">{{ "ClickToSetNewEmailLinkTitle"|trans }}</a>
<span style="font-size: 1px; opacity: 1%; color: #fff; background: #fff">{{ uri }}</span>
<br>





