<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block navbar %}
{% include 'navbar.html.twig' %}
{% endblock %}

<div class="main_content">
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger alert-dismissible niezaszer" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            {{ flash_message|raw }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('info') %}
        <div class="alert alert-info alert-dismissible niezaszer" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            {{ flash_message|raw }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning alert-dismissible niezaszer" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            {{ flash_message|raw }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible niezaszer" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            {{ flash_message|raw }}
        </div>
    {% endfor %}
    {% block body %}
    {% endblock %}
</div>

</body>
</html>
