{% extends 'base.html.twig' %}

{% block title %}New parcel{% endblock %}

{% block body %}
    <p></p>
    <div class="jumbotron">
        <h1 class="display-4">{{ "HelloDefault"|trans }}</h1>
        <p class="lead">{{ "You don't have any category or role assigned to your account. Report to your system administrator if you believe this is a bug."|trans }}</p>
        <hr class="my-4">
        <p>{{ "administrator's e-mail"|trans }}: <a class="" href="mailto:{{ admin_contact_email }}?subject={{ application_name }} {{ app.user.username }}" role="button">{{ admin_contact_email }}</a></p>
        <a class="btn btn-primary btn-lg" href="mailto:{{ admin_contact_email }}?subject={{ application_name }} {{ app.user.username }}" role="button">{{ "Report"|trans }}</a>
    </div>
{% endblock %}
