<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">{{ application_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            {% if is_granted('ROLE_LOCATION_MODERATOR') %}


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">{{ "menuUsers"|trans }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="{{ path('user_admin_index', {'sort':'User.created', 'direction':'desc'}) }}">{{ "menuUsers"|trans }}</a>
                        <a class="dropdown-item" href="{{ path('user_admin_new') }}">{{ "menuAddUser"|trans }}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">{{ "menuCategories"|trans }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="{{ path('category_admin_index', {'sort':'Category.created', 'direction':'desc'}) }}">{{ "menuCategories"|trans }}</a>
                        <a class="dropdown-item"
                           href="{{ path('category_admin_new') }}">{{ "menuAddCategory"|trans }}</a>
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">{{ "menuSettings"|trans }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               href="{{ path('location_admin_index') }}">{{ "menuLocations"|trans }}</a>
                            <a class="dropdown-item"
                               href="{{ path('scan_plan_admin_index') }}">{{ "ScanPlans"|trans }}</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">{{ "menuHParcels"|trans }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="{{ path('parcel_admin_index', {'sort':'Parcel.created', 'direction':'desc'}) }}">{{ "Parcels"|trans }}</a>
                        <a class="dropdown-item"
                           href="{{ path('parcel_admin_handover') }}">{{ "Parcels handover"|trans }}</a>

                        <a class="dropdown-item" href="{{ path('parcel_multi') }}">{{ "parcelMulti"|trans }}</a>
                        <a class="dropdown-item"
                           href="{{ path('parcel_new', {rich:1}) }}">{{ "menuParcelNew"|trans }}</a>
                    </div>
                </li>
            {% else %}
                {% if app.user.categories is defined and app.user.categories|length>1 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">{{ app.user.categories[0] }}</a>
                        <div class="dropdown-menu">
                            {% for category in app.user.categories %}
                                <a class="dropdown-item"
                                   href="{{ path('parcel_user_index', {id:category.id}) }}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% elseif app.user.categories is defined and app.user.categories|length>0 %}
                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ path('parcel_user_index', {'id':app.user.categories[0].id}) }}">{{ app.user.categories[0].name }}</a>

                    </li>
                {% endif %}
            {% endif %}
            <!--
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            -->
        </ul>
        <ul class="navbar-nav my-3 my-lg-0">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }} {% if is_granted('ROLE_ADMIN') %}<span
                                class="badge badge-secondary">admin</span>{% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="{{ path('self_user_change_pass') }}">{{ "ChangePasswordLinkTitle"|trans }}</a>
                        <a class="dropdown-item"
                           href="{{ path('self_user_show') }}">{{ "SelfUserShowLinkTitle"|trans }}</a>
                        <div class="dropdown-divider"></div>
                        {% if is_granted('IS_IMPERSONATOR') %}
                            <a class="dropdown-item"
                               href="{{ impersonation_exit_path(path('home') ) }}">{{ "Exit impersonation"|trans }}</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('logout') }}"
                           title="Logout">{{ "LogoutLinkTitle"|trans }}</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('login') }}" class="btn btn-success">{{ "LogInActionButtonTitle"|trans }}</a>
                </li>
            {% endif %}


        </ul>
    </div>
</nav>

