{% extends 'base.html.twig' %}

{% block title %}{{ "Locations"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "Locations"|trans }}</h1>

    <p><a href="{{ path('location_admin_new') }}" class="btn btn-success">{{ "Create new"|trans }}</a>
    </p>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Street</th>
                <th>HouseNumber</th>
                <th>ApartmentNumber</th>
                <th>PostalCode</th>
                <th>City</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.name }}</td>
                <td>{{ location.street }}</td>
                <td>{{ location.houseNumber }}</td>
                <td>{{ location.apartmentNumber }}</td>
                <td>{{ location.postalCode }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.created ? location.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ location.updated ? location.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('location_admin_show', {'id': location.id}) }}" class="btn btn-sm btn-primary">{{ "btnShow"|trans }}</a>
                    <a href="{{ path('location_admin_edit', {'id': location.id}) }}" class="btn btn-sm btn-primary">{{ "btnEdit"|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
